@import url("https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@900&display=swap&text=LOG");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;400;900&display=swap");
:root {
  --main-color: #002e2e;
  --second-color: #006969;
  --third-color: #203e3e;
  --main-text-color: #ffffff; }

*,
*:before,
*:after {
  margin: 0;
  padding: 0; }

/* Box sizing */
html {
  box-sizing: border-box;
  font: normal 16px/1.5 'Roboto Slab', serif; }

h1,
.main-content p {
  font-family: 'Roboto Slab', serif; }

*,
*::before,
*::after {
  box-sizing: inherit; }

.wrapper {
  padding: 1rem 2.4rem;
  max-width: 1280px; }

header {
  background-color: var(--main-color);
  color: var(--main-text-color); }
  header .nav {
    padding-bottom: 0; }
    header .nav ul li {
      display: block;
      margin: 0 2px; }
  header .nav a {
    text-decoration: none;
    display: block; }
  header .nav ul {
    margin-top: 30px; }

main {
  min-height: 70vh; }
  main .main-content {
    height: 100%;
    color: var(--main-text-color);
    background-color: var(--third-color);
    padding: 16px;
    border: 8px solid var(--second-color); }
    main .main-content h1::after {
      content: '';
      display: block;
      background-color: rgba(255, 255, 255, 0.2);
      border-top: 1px solid rgba(0, 0, 0, 0.8);
      width: 100%;
      height: 2px;
      margin: 12px auto; }
  main .aside-menu {
    height: 100%;
    padding: 16px;
    background-color: var(--main-color);
    color: var(--main-text-color);
    border: 8px solid #004444; }
    main .aside-menu ul > li {
      margin: 3px 0; }
    main .aside-menu a {
      color: var(--main-text-color);
      text-decoration: none;
      border-bottom: 1px solid white; }
      main .aside-menu a:hover {
        color: gray;
        border-bottom: 1px solid gray; }

.logo {
  font-family: 'Londrina Solid', cursive;
  background-color: var(--second-color); }

.button {
  display: block;
  background: var(--second-color);
  border: 2px solid var(--second-color);
  padding: 5px 10px;
  text-align: center;
  color: white;
  font-weight: bold; }
  .button.nav-button {
    width: 115px; }
  .button:hover {
    background-color: var(--main-text-color);
    color: var(--second-color); }
  .button.button-share {
    margin-right: 8px;
    border: none;
    cursor: pointer;
    background-color: gray;
    display: flex; }
    .button.button-share:not(:last-child) {
      margin-right: 8px; }
    .button.button-sharei {
      justify-content: center;
      align-items: center; }
    .button.button-share:hover {
      background-color: var(--main-text-color);
      color: var(--third-color); }

footer {
  padding: 6px;
  background-color: var(--second-color);
  color: var(--main-text-color); }
  footer .nav ul > li {
    padding: 8px; }
    footer .nav ul > li:not(:last-child) {
      margin-right: 3px; }
  footer p {
    margin: 0;
    margin-right: auto; }
  footer .nav a {
    color: var(--main-text-color);
    display: block;
    text-decoration: none;
    text-align: center;
    border-bottom: 1px solid white; }
    footer .nav a:hover {
      color: var(--main-color);
      border-bottom: 1px solid var(--main-color); }

img {
  width: 350px;
  height: 200px; }

.fixed-logo {
  z-index: 1001;
  writing-mode: vertical-rl;
  text-orientation: upright;
  color: var(--main-text-color);
  font-family: 'Londrina Solid', cursive;
  font-size: 10px;
  padding: 5px;
  background-color: var(--second-color);
  position: absolute;
  left: 0;
  top: 110px; }

.accordion-hide {
  display: none; }

.accordion-show {
  z-index: 1003;
  display: block; }

.accordion-content {
  padding: 5px;
  width: 140px;
  position: absolute;
  top: -30px;
  left: 0;
  z-index: 1004;
  background-color: var(--second-color); }
  .accordion-content a {
    color: var(--main-text-color);
    display: block;
    text-decoration: none;
    text-align: center;
    border-bottom: 1px solid white; }
    .accordion-content a:hover {
      color: var(--main-color);
      border-bottom: 1px solid var(--main-color); }

@media (min-width: 768px) {
  .aside[class*='col-md'] {
    padding-left: 0; }
  .main-section[class*='col-md'] {
    padding-right: 0; } }

@media (max-width: 1024px) {
  body {
    font-size: 0.8rem; }
  .button.button-share {
    font-size: 0.5rem; }
  main .aside-menu {
    padding: 5px; } }

@media (max-width: 768px) {
  .fixed-logo {
    display: none; }
  .accordion-content {
    padding: 3px 5px;
    position: absolute;
    top: -50px;
    left: 115px; } }
